services:
  - type: web
    name: api-service
    plan: free
    runtime: python
    buildCommand: pip install -r BACKEND/requirements.txt
    startCommand: gunicorn -k "geventwebsocket.gunicorn.workers.GeventWebSocketWorker" -w 1 --timeout 600 --keep-alive 5 --chdir BACKEND server:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: GEMINI_API_KEY
        sync: false

  - type: web
    name: post-service
    plan: free
    runtime: python
    buildCommand: pip install -r BACKEND/requirements.txt
    startCommand: gunicorn -k gevent -w 1 --timeout 600 --chdir BACKEND post:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: GEMINI_API_KEY
        sync: false
      - key: DEVTO_API_KEY
        sync: false

  - type: web
    name: seo-service
    plan: free
    runtime: python
    buildCommand: pip install -r BACKEND/requirements.txt
    startCommand: gunicorn -k gevent -w 1 --timeout 600 --chdir BACKEND seo:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: GEMINI_API_KEY
        sync: false
# Good to go